
    #AnimationContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .teacherContainer {
        display:block;
        overflow:hidden;
        padding-left: 30px;
    }
    .userContainer {
        position: relative;
        display:block;
        overflow:hidden;
        padding-left: 30px;
    }
    #user {
        position: absolute;
        right: -91px;
    }
    .walk {
        width: 91px;
        height: 142px;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        animation: walk .9s steps(6) infinite;
        -webkit-animation: walk .9s steps(6) infinite;
        -ms-animation: walk .9s steps(6) infinite;
        -moz-animation: walk .9s steps(6) infinite;
    }
    .dont-walk {
        width: 91px;
        height: 142px;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    #user.walk {
    }
    #user.dont-walk {
        background-position: 92px;
    }
    .teacherContainer .walk {
        background: url(../../images/teacherwalk.png);
        width: 91px;
        height: 142px;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        animation: walk .9s steps(6) infinite;
        -webkit-animation: walk .9s steps(6) infinite;
        -ms-animation: walk .9s steps(6) infinite;
        -moz-animation: walk .9s steps(6) infinite;
    }
    .teacherContainer .dont-walk {
        background: url(../../images/teacherwalk.png);
        width: 91px;
        height: 142px;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    @keyframes walk {
        from {background-position: 0px;}
        to {background-position: -546px;}
    }
    @-webkit-keyframes walk {
        from {background-position: 0px;}
        to {background-position: -546px;}
    }
    @-ms-keyframes walk {
        from {background-position: 0px;}
        to {background-position: -546px;}
    }
    @-moz-keyframes walk {
        from {background-position: 0px;}
        to {background-position: -546px;}
    }