.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.game{
<<<<<<< HEAD
  background-image: url("./images/placeholder-blue.png");
=======
>>>>>>> master
  background-repeat: no-repeat;
  color: red;
  height: 500px;
  width: 100%;  
<<<<<<< HEAD
=======
}
body {
  font-family: 'Assistant', sans-serif !important;
  background: url('images/bg.jpg');
  width: 100vw;
  background-position: bottom center;
  background-size: cover;
  height: 100vh;
>>>>>>> master
}