.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.game{
  background-repeat: no-repeat;
  color: red;
  height: 500px;
  width: 100%;  
}
body {
  font-family: 'Assistant', sans-serif !important;
  background: url('images/bg.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.gameContainer {
  padding-top: 120px;
}

/* media query */

@media (max-width: 1199.98px) {

}
@media (max-width: 991.98px) {
    
}
@media (max-width: 767.98px) {
  .gameContainer {
      padding-top: 111px;
  }
}
@media (max-width: 575.98px) {
  .gameContainer {
      padding-top: 80px;
  }
}
