.homeWrap h1 {
    text-transform: uppercase;
    padding: 7px;
    background: rgba(255, 255, 255, 0.781);
    color: rgba(25, 149, 251, .80);
    font-weight: 700;
    font-size: 40px;
    margin: 0 auto 26px;
}
.homeWrap h3 {
    font-size: 16px;
    color: #fff;
    font-weight: 200;
    max-width: 740px;
    margin: 10px auto;
    padding: 0 50px;
}
.homeLogo {
    width: 50%;
    margin: auto;
}
.homeWrap {
    height: 100vh;
    margin: 0 auto;
}
.homeContain {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.link {
    color: #fff!important;
}

.btn-primary {
    color: #fff!important;
    background: #1995fb; /* Old browsers */
    background: -moz-linear-gradient(top, #1995fb 0%, #0079db 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1995fb 0%,#0079db 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1995fb 0%,#0079db 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1995fb', endColorstr='#0079db',GradientType=0 ); /* IE6-9 */
    font-weight: 700!important;
    text-transform: uppercase!important;
    font-size: 30px!important;
    border: solid 5px #fff!important;
    padding: 0px 40px!important;
    border-radius: 90px!important;
    display: block!important;
    margin: 23px auto 0px;
}
.btn-primary:hover {
    background: #0079db; /* Old browsers */
    background: -moz-linear-gradient(top, #0079db 0%, #1995fb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0079db 0%,#1995fb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0079db 0%,#1995fb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0079db', endColorstr='#1995fb',GradientType=0 ); /* IE6-9 */
}
/* media query */

@media (max-width: 1199.98px) {

}
@media (max-width: 991.98px) {
    
}
@media (max-width: 767.98px) {
    .homeLogo {
        width: 70%;
    }
}
@media (max-width: 575.98px) {
    .homeWrap h1 {
        font-size: 30px;
    }
}