.wrong::before {
    display: inline-block;
    content: '';
    background: #f30000;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin-right: 5px;
}
.correct::before {
    display: inline-block;
    content: '';
    background: #00ca33;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin-right: 5px;
}
a{
    color: white;
}
a:hover{
    text-decoration: none;
}
.correct {
    display: inline-block;
    color: #fff;
    padding-left: 10px;
}
.wrong {
    display: inline-block;
    color:#fff;
}
.game {
    position: relative;
}
.scoreCountRedGreen {
    position: absolute;
    right: 10px;
    position: absolute;
    top: 1px;
}

.footer {
    background: rgba(25, 149, 251, 0.671);
    position: fixed;
    width: 100%;
    bottom: 0px;
    left:0px;
}
.footer .btn {
    font-weight: 200 !important;
    font-size: 15px !important;
    background-color: transparent !important;
    border-color: transparent !important;
    padding: .5rem 1rem !important;
    background: transparent !important;
    border: none !important;
    display: inline-block !important;
    margin: 0px !important;
}
.footer .btn:hover {
    background-color:transparent !important;
    border-color: transparent !important;
    color: #303030 !important;
    background: transparent !important;
    border: none !important;
}
.AnimationContainer {
    display: grid;
    grid-template-columns: 30% 1fr 70%;
}
.user img{
    width: 130px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.781);
    margin-right: 10px;
}
.AnimationContainer .gamebadge {
    width: 70px;
}
#user {
    position: absolute;
    right: -44px;
}
#user.dont-walk {
    background: url('../../images/user1walk.png');
    background-position: 92px;
    width: 91px;
    height: 142px;
}

.userContainer .dont-walk.walk1 {
    margin-right:8%;
}
.userContainer .dont-walk.walk2 {
    margin-right:17%;
}
.userContainer .dont-walk.walk3 {
    margin-right:25%;
}
.userContainer .dont-walk.walk4 {
    margin-right:34%;
}
.userContainer .dont-walk.walk5 {
    margin-right:42%;
}
.userContainer .dont-walk.walk6 {
    margin-right:51%;
}
.userContainer .dont-walk.walk7 {
    margin-right:60%;
}
.userContainer .walk1{
    background: url('../../images/user1walk.png');
    animation: walk .5s steps(6) 2;
    -webkit-animation: walk .5s steps(6) 2;
    -ms-animation: walk .5s steps(6) 2;
    -moz-animation: walk .5s steps(6) 2;
}
.userContainer .walk2 {
    animation: walk2 .5s steps(6) 2;
    -webkit-animation: walk2 .5s steps(6) 2;
    -ms-animation: walk2 .5s steps(6) 2;
    -moz-animation: walk2 .5s steps(6) 2;
}
.userContainer .walk3 {
    animation: walk3 .5s steps(6) 2;
    -webkit-animation: walk3 .5s steps(6) 2;
    -ms-animation: walk3 .5s steps(6) 2;
    -moz-animation: walk3 .5s steps(6) 2;
}
.userContainer .walk4 {
    animation: walk4 .5s steps(6) 2;
    -webkit-animation: walk4 .5s steps(6) 2;
    -ms-animation: walk4 .5s steps(6) 2;
    -moz-animation: walk4 .5s steps(6) 2;
}
.userContainer .walk5 {
    animation: walk5 .5s steps(6) 2;
    -webkit-animation: walk5 .5s steps(6) 2;
    -ms-animation: walk5 .5s steps(6) 2;
    -moz-animation: walk5 .5s steps(6) 2;
}
.userContainer .walk6 {
    animation: walk6 .5s steps(6) 2;
    -webkit-animation: walk6 .5s steps(6) 2;
    -ms-animation: walk6 .5s steps(6) 2;
    -moz-animation: walk6 .5s steps(6) 2;
}
.userContainer .walk7 {
    animation: walk7 .5s steps(6) 2;
    -webkit-animation: walk7 .5s steps(6) 2;
    -ms-animation: walk7 .5s steps(6) 2;
    -moz-animation: walk7 .5s steps(6) 2;
}
.userContainer .dont-walk {
    transition:1s;
    -webkit-transition:1s;
    -ms-transition:1s;
    -moz-transition:1s;
}

.play.container {
    position: relative;
}

.animationWrap {
    position: absolute;
    bottom: 50px;
    left: 0px;
    height: 70px;
    width: inherit;
}

.userContainer {
    right: 10px;
}

.play .questionCount {
    color:#fff;
}


/* teacher styling and animation --------------------------*/
#teacher {
    position: absolute;
}
.teacherContainer .dont-walk.walk1 {
    margin-left:10%;
}
.teacherContainer .dont-walk.walk2 {
    margin-left:20%;
}
.teacherContainer .dont-walk.walk3 {
    margin-left:30%;
}
.teacherContainer .dont-walk.walk4 {
    margin-left:40%;
}
.teacherContainer .dont-walk.walk5 {
    margin-left:45%;
}
.teacherContainer .walk1{
    background: url('../../images/teacherwalk.png');
    width: 91px;
    height: 142px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    animation: walk .5s steps(6) 2;
    -webkit-animation: walk .5s steps(6) 2;
    -ms-animation: walk .5s steps(6) 2;
    -moz-animation: walk .5s steps(6) 2;
}
.teacherContainer .walk2 {
    animation: walk2 .5s steps(6) 2;
    -webkit-animation: walk2 .5s steps(6) 2;
    -ms-animation: walk2 .5s steps(6) 2;
    -moz-animation: walk2 .5s steps(6) 2;
}
.teacherContainer .walk3 {
    animation: walk3 .5s steps(6) 2;
    -webkit-animation: walk3 .5s steps(6) 2;
    -ms-animation: walk3 .5s steps(6) 2;
    -moz-animation: walk3 .5s steps(6) 2;
}
.teacherContainer .walk4 {
    animation: walk4 .5s steps(6) 2;
    -webkit-animation: walk4 .5s steps(6) 2;
    -ms-animation: walk4 .5s steps(6) 2;
    -moz-animation: walk4 .5s steps(6) 2;
}
.teacherContainer .walk5 {
    animation: walk5 .5s steps(6) 2;
    -webkit-animation: walk5 .5s steps(6) 2;
    -ms-animation: walk5 .5s steps(6) 2;
    -moz-animation: walk5 .5s steps(6) 2;
}
.teacherContainer .dont-walk {
    background: url('../../images/teacherwalk.png');
    width: 91px;
    height: 142px;
    transition:1s;
    -webkit-transition:1s;
    -ms-transition:1s;
    -moz-transition:1s;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
@keyframes walk {
    from {background-position: 0px;}
    to {background-position: -546px;}
}
@-webkit-keyframes walk {
    from {background-position: 0px;}
    to {background-position: -546px;}
}
@-ms-keyframes walk {
    from {background-position: 0px;}
    to {background-position: -546px;}
}
@-moz-keyframes walk {
    from {background-position: 0px;}
    to {background-position: -546px;}
}


@keyframes walk2 {
    from {background-position: 0px;}
    to {background-position: -546px;}
}
@-webkit-keyframes walk2 {
    from {background-position: 0px;}
    to {background-position: -546px;}
}
@-ms-keyframes walk2 {
    from {background-position: 0px;}
    to {background-position: -546px;}
}
@-moz-keyframes walk2 {
    from {background-position: 0px;}
    to {background-position: -546px;}
}


@keyframes walk3 {
    from {background-position: 0px;}
    to {background-position: -546px;}
}
@-webkit-keyframes walk3 {
    from {background-position: 0px;}
    to {background-position: -546px;}
}
@-ms-keyframes walk3 {
    from {background-position: 0px;}
    to {background-position: -546px;}
}
@-moz-keyframes walk3 {
    from {background-position: 0px;}
    to {background-position: -546px;}
}


@keyframes walk4 {
    from {background-position: 0px;}
    to {background-position: -546px;}
}
@-webkit-keyframes walk4 {
    from {background-position: 0px;}
    to {background-position: -546px;}
}
@-ms-keyframes walk4 {
    from {background-position: 0px;}
    to {background-position: -546px;}
}
@-moz-keyframes walk4 {
    from {background-position: 0px;}
    to {background-position: -546px;}
}


@keyframes walk5 {
    from {background-position: 0px;}
    to {background-position: -546px;}
}
@-webkit-keyframes walk5 {
    from {background-position: 0px;}
    to {background-position: -546px;}
}
@-ms-keyframes walk5 {
    from {background-position: 0px;}
    to {background-position: -546px;}
}
@-moz-keyframes walk5 {
    from {background-position: 0px;}
    to {background-position: -546px;}
}


@keyframes walk6 {
    from {background-position: 0px;}
    to {background-position: -546px;}
}
@-webkit-keyframes walk6 {
    from {background-position: 0px;}
    to {background-position: -546px;}
}
@-ms-keyframes walk6 {
    from {background-position: 0px;}
    to {background-position: -546px;}
}
@-moz-keyframes walk6 {
    from {background-position: 0px;}
    to {background-position: -546px;}
}


@keyframes walk7 {
    from {background-position: 0px;}
    to {background-position: -546px;}
}
@-webkit-keyframes walk7 {
    from {background-position: 0px;}
    to {background-position: -546px;}
}
@-ms-keyframes walk7 {
    from {background-position: 0px;}
    to {background-position: -546px;}
}
@-moz-keyframes walk7 {
    from {background-position: 0px;}
    to {background-position: -546px;}
}

/* media query */

@media (max-width: 1199.98px) {

}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
    .user {
        display: none;
    }
    .QandA {
        grid-template-columns: 1fr;
  } 
    .answers {
        padding-top: 30px;
  }
  .animationWrap {
    bottom: 35px;
  }
}
@media (max-width: 575.98px) {
    .animationWrap {
        bottom: 8px;
      }
}